# Logs
logs
*.log

# Dependencies
node_modules
dist
dist-ssr
*.local

# Environment variables - JANGAN commit .env ke git!
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
